<header>
<nav>
  <div class="logo"><span>L</span>earn <span>B</span>uild <span>R</span>epeat</div>

  <div class="ham_menu hide">

    <i class="fa-solid fa-bars"></i>
  </div>
  <div class="menu">
    <div class="close-button hide">
      <i class="fa-solid fa-xmark fa-2xl fa-fade close-icon" style="color: #4e5156"></i>
    </div>
    <a href="/">Home</a>
    <a href="/about">About Me</a>
    <a href="/contact">Contact Me!</a>
    <div class="login">
    
    <% if(isAuthenticated){ %>

      <a href="/logout">Log out</a>

   <% } else { %>

      <a href="/login">Log in</a>

   <% } %>
   
  </div>
  </div>

  
   
</nav>
</header>