<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body class="contact">
<%- include("../partials/header.ejs") %>
  <main>
      <section id="contact">
      <div class="container">
          <div class="contact_left">
            <h1 class="sub_title">Contact Me!</h1>
            <p><i class="fa-solid fa-paper-plane"></i>mousmichatterjee6@gmail.com</p>
            <p><i class="fa-solid fa-square-phone"></i></i>0761569991</p>
            <div class="social_icons">
              <a href="https://www.linkedin.com/notifications/?filter=all"  aria-label="Visit my LinkedIn profile" target="_blank" rel="noopener"><i class="fa-brands fa-linkedin"></i></a>
              <a href="https://github.com/" aria-label="Visit my GitHub profile" target="_blank" rel="noopener"><i class="fa-brands fa-github"></i></a>
              <a href="https://www.instagram.com/" aria-label="Visit my Instagram profile" target="_blank" rel="noopener"><i class="fa-brands fa-instagram"></i></a> 
            </div>
          </div>

          <div class="contact_right">

            <form class="form" name="submit-to-google-sheet">
              <input type="text" name="Name" placeholder="Your Name" required>
              <input type="text" name="Email" placeholder="Your Email" required>
              <textarea name="Message" rows="6"   placeholder="Share your thoughts here!"></textarea>
              <button type="submit">Submit</button>
            </form>
            <p class="msg hide" >Message sent successfully</p>
          </div>

    </div>
    </section>
  </main>

<%- include("../partials/footer.ejs") %>
</body>
</html>

