<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body class="login">
    <%- include("../partials/header") %>

    <main>
      <form action="/login" method="post">
        <input
          type="text"
          name="username"
          placeholder="Username(3–20 chars)"
          required
        />
        <input
          type="password"
          name="password"
          placeholder="Password (min 6 chars)"
          required
        />

        <button type="submit">Login</button>
      </form>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
