* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Georgia, serif;
  letter-spacing: 0.5px;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  background-color: #fffffcde;
  display: flex;
  flex-direction: column;
}

header {
  color: #fffffcde;
  padding: 2rem;
  background-color: #111111;
  font-size: 1.5rem;
  
}

header i{

  font-size: 2rem;
}



.menu{
  
  display: flex;
  
}

.menu a{

   background: linear-gradient(
    90deg,
    #f48fb1 0%,
    #c084fc 40%,
    #7c83fd 70%,
    #4facfe 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.home main {
  flex: 1;
  
  
}

.home{

  width: 100%;
  background-image: url("/image/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  letter-spacing: 1px;
  color: #fffffcde;
  font-weight: 600;
}

main {
  flex: 1;
  margin: 3rem;
  
}

.logo{

  font-weight: 900;
   background: linear-gradient(
    90deg,
    #f48fb1 0%,
    #c084fc 40%,
    #7c83fd 70%,
    #4facfe 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}





.logo i{

  
  margin: 0 0.5rem;
}



.content{

  padding-top: 3rem;
}

footer {
  
  padding: 2rem;
  background-color: #111111;
  text-align: center;
}

footer p{

   background: linear-gradient(
    90deg,
    #f48fb1 0%,
    #c084fc 40%,
    #7c83fd 70%,
    #4facfe 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  padding: 0rem 1rem;
  color: #fffffcde;
  text-decoration: none;
  position: relative;
}

nav a::after{

  content: "";
  position: absolute;
   background: linear-gradient(
    90deg,
    #f48fb1 0%,
    #c084fc 40%,
    #7c83fd 70%,
    #4facfe 100%
  );

  width: 0;
  left: 0;
  height: 3px;
  bottom: -6px;
  transition: 0.5s all;
}

nav a:hover::after{

  width: 100%;
}

h4{

  padding: 1rem 0;
}


.login form{

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
 
}

.login form input{

  width: 40%;
}

.container{

  display: flex;
}

.contact_left{

  flex-basis: 35%;
}


.contact_right{

  flex-basis: 60%;
 
}

.contact_left p i{

color:#111111;
margin-right: 15px;
font-size: 1rem;
}

.about_me main{

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
   background: linear-gradient(
    90deg,
    #f48fb1 0%,
    #c084fc 40%,
    #7c83fd 70%,
    #4facfe 100%
  );
  border-radius: 10px;

  
}

.about_me .content{

  padding: 2rem;
  flex: 1;
}

.about_me .container_img{

  flex: 1;
}

.container_img img{

  width: 100%;
  height: auto;
  border-radius: 8px;

}

.img{

  width: 50px;
  height: auto;
  padding: 0.5rem;
}
.social_icons a{


  margin-right: 15px;
  font-size: 2rem;
  color:#111111;
  display: inline-block;
  transition: transform 0.5s;
}

.social_icons a:hover{

   background: linear-gradient(
    90deg,
    #f48fb1 0%,
    #c084fc 40%,
    #7c83fd 70%,
    #4facfe 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(-5px);
}

.contact_right form{

  width: 100%;
}

.contact form input,
form textarea{

  width: 100%;
  border: 0;
  outline: none;
 background-color: #fffffcde;
  padding: 15px;
  margin: 15px 0;
  color: black;

}

form button{

  padding: 0.5rem;
  border-radius: 8px;
  border: none;
 
   background: linear-gradient(
    90deg,
    #f48fb1 0%,
    #c084fc 40%,
    #7c83fd 70%,
    #4facfe 100%
  );

  color: #fffffcde;
}

.msg{

  display: block;
  color: #61b752;
  padding: 1rem 0;
  font-weight: bold;
}

.hide{

  display: none;
}

.contact .container{

    display: flex;
    justify-content: space-between;
    align-items: center;
  }


 

form input:focus{

  outline: none;
  border: 2px solid transparent;
   background: 
  linear-gradient(white, white) padding-box,
   linear-gradient(
    90deg,
    #f48fb1 0%,
    #c084fc 40%,
    #7c83fd 70%,
    #4facfe 100%
  );

}


.contact main{

  min-height: 100vh;
  background: linear-gradient(
    90deg,
    #f48fb1 0%,
    #c084fc 40%,
    #7c83fd 70%,
    #4facfe 100%
  );
 border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login main{

  min-height: 100vh;
  background: linear-gradient(
    90deg,
    #f48fb1 0%,
    #c084fc 40%,
    #7c83fd 70%,
    #4facfe 100%
  );
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post main{

  
  background: linear-gradient(
    90deg,
    #f48fb1 0%,
    #c084fc 40%,
    #7c83fd 70%,
    #4facfe 100%
  );
  border-radius: 10px;
  padding: 1rem;
  
  

}


@media screen and (max-width:768px) {

  nav{

    position: relative;
  }
  
  .logo{

     font-size: 1rem;
     

  }

  .bg_image{

    display: none;
  }
  .menu{

    font-size: 1rem;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    top:0;
    right: 0;
    padding: 1rem;
    background-color: #262626;
    color: #fffffcde;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    width: 60%;
    text-align: center;
   
    
  }

  .menu a{

    margin: 1rem 0;
    
  }

  .close-button{

    display: block;
    position: absolute;
    right: 1px;
    padding: 0 0.5rem;
    border: transparent;
    
  }



  .login{

    font-size: 1rem;
  }

  .ham_menu{

    display: block;
    background: linear-gradient(
    90deg,
    #f48fb1 0%,
    #c084fc 40%,
    #7c83fd 70%,
    #4facfe 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  .menu.open{

     transform: translateX(0);

  }

  .contact .container{

    flex-direction: column;
  }

  .about_me main{

    padding-top: 1rem;
  }

 

.logo i{

  font-size: 1rem;
  
}

.contact_left .fa-paper-plane{

  font-size: 1rem;
}




.about_me .container{

  flex-direction:column-reverse;
}



.about_me .container_img{

flex: 1;
}

.about_me .container_img img{


  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  
}

form input{

  width: 90%;


}

button{

  margin: 1rem;
}


}