* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Georgia, serif;
  letter-spacing: 0.5px;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  background-color: #fffffcde;
  display: flex;
  flex-direction: column;
}

header {
  color: #fffffcde;
  padding: 2rem;
  background-color: #111111;
  font-size: 1.5rem;
  
}

header i{

  font-size: 2rem;
}



.menu{
  
  display: flex;
}

body.home main {
  flex: 1;
  
  
}

.home{

  width: 100%;
  background-image: url("/image/bg_img.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size:contain;
  background-attachment: fixed;
  word-spacing: 1px;
  color: #1a1a1a;
}

main {
  flex: 1;
  margin: 3rem;
}

.logo{

  font-weight: 900;
}

.logo i{

  color: #f4b400;
  margin: 0 0.5rem;
}

.logo span{

  color: #f4b400;
 
}

.content{

  padding-top: 3rem;
}

footer {
  color: #fffffcde;
  padding: 2rem;
  background-color: #111111;
  text-align: center;
}


nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  padding: 0rem 1rem;
  color: #fffffcde;
  text-decoration: none;
  position: relative;
}

nav a::after{

  content: "";
  position: absolute;
  background-color: #f4b400;
  width: 0;
  left: 0;
  height: 3px;
  bottom: -6px;
  transition: 0.5s all;
}

nav a:hover::after{

  width: 100%;
}

h4{

  padding: 1rem 0;
}


.login form{

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
 
}

.login form input{

  width: 40%;
}

.container{

  display: flex;
}

.contact_left{

  flex-basis: 35%;
}


.contact_right{

  flex-basis: 60%;
 
}

.contact_left p i{

color:#111111;
margin-right: 15px;
font-size: 1rem;
}

.about_me .container{

  display: flex;
  justify-content: space-between;
  
}

.about_me .content{

  padding: 2rem;
  flex-basis: 50%;
}

.about_me .container_img{

  flex-basis: 40%;
}

.container_img img{

  width: 100%;
  height: auto;
  border-radius: 8px;

}

.img{

  width: 50px;
  height: auto;
  padding: 0.5rem;
}
.social_icons a{


  margin-right: 15px;
  font-size: 2rem;
  color:#111111;
  display: inline-block;
  transition: transform 0.5s;
}

.social_icons a:hover{

  color: #f4b400;
  transform: translateY(-5px);
}

.contact_right form{

  width: 100%;
}

.contact form input,
form textarea{

  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fffffcde;

}

form button{

  padding: 0.5rem;
  border-radius: 8px;
  background-color: #262626;
  color: #fffffcde;
}

.msg{

  display: block;
  color: #61b752;
  padding: 1rem 0;
  font-weight: bold;
}

.hide{

  display: none;
}


@media screen and (max-width:768px) {

  nav{

    position: relative;
  }
  
  .logo{

     font-size: 1rem;
     

  }

  .bg_image{

    display: none;
  }
  .menu{

    font-size: 1rem;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    top:0;
    right: 0;
    padding: 1rem;
    background-color: #262626;
    color: #fffffcde;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    width: 60%;
    text-align: center;
   
    
  }

  .menu a{

    margin: 1rem 0;
    
  }

  .close-button{

    display: block;
    position: absolute;
    right: 1px;
    padding: 0 0.5rem;
    border: transparent;
  }



  .login{

    font-size: 1rem;
  }

  .ham_menu{

    display: block;
  }

  .menu.open{

     transform: translateX(0);

  }

  .contact .container{

    flex-direction: column;
  }

  .home {
  flex: 1;
  width: 100%;
  height: auto;
  background-image: url("/image/bg_img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  background-attachment: fixed;
}

.logo i{

  font-size: 1rem;
  color: #f4b400;
}

.contact_left .fa-paper-plane{

  font-size: 1rem;
}


}